.repository__detailsContainer,
.note__detailsContainer {
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
}

.repository__detail,
.note__detail {
    margin-bottom: 36px;
    font-size: 24px;
}

.repository__forked,.repository__starred {
    width:14px;
}

/*
.repository__detailValue {
    text-align: center;
}*/
